<center>
  <h2>All Students</h2>
</center>

<section class='student'>
  <% @students.each do |student| %>
    <h3 class='name'><%= student.name %></h3>
    <p class='age'><%= student.age %></p>
    <p class='house'><%= student.house %></p>
  <% end %>
</section>
